@import url('https://fonts.googleapis.com/css?family=Overpass');

html, body {
  height: 100%;
  margin: 0;
  background: #000;
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  background: #1f212e;
  color: #61698d;
  font-family: 'Overpass', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

p {
  font-size: 1.8rem;
}

#time-travel-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  display: none;
  z-index: 1000;
}

#coming-soon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1f212e;
  color: #fff;
  font-size: 3rem;
  z-index: 1001;
}

css-doodle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}